body {
    font-family: Arial, sans-serif;
    background-color: rgb(210, 234, 172);
    color: #3a3a3a;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #b4e0b4d1;
    box-shadow: 0 4 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #3b6e6f;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #71c3b7;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
}

button {
    background-color: #71c3b7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #4f9a88;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f7fbf8;
}

.completed {
    text-decoration: line-through;
    color: #302e2e;
}

a {
    color: #302e2e;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

td a {
    margin-left: 10px;
}
